<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product_name">Name:</label>
        <input type="text" id="product_name" name="product_name" value="{{ product.product_name }}"><br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ product.category }}"><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="{{ product.price }}"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ product.email }}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
