<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Customers</title>
</head>
<body>
    <h1>Customer List</h1>
    <ul>
        {% for customer in customer %}
            <li>{{ customer.name }} - {{ customer.email }} - {{ customer.mobile }} - {{ customer.state }} - {{ customer.country }} <a href="{% url 'deletecustomer' customer.id %}">Delete</a></li>
        {% endfor %}
    </ul>
</body>
</html>
